<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=,initial-scale=1.0">
  <link rel="stylesheet" href="../../styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>Kochbuch</title>
  <sytle>
    
  </style>
</head>
<body>
    <div class="navbar center" id="navbar">
      <a class="navbar-link" href="../../index.html">Home</a>
      <a class="navbar-link" href="../fleisch/index.html">Fleisch</a>
      <a class="navbar-link" href="./index.html">Vegetarisch</a>
      <a class="navbar-link" href="../sport/index.html">Sport</a>
  </div>

  <header>
    <section class="scetion-1 center">
        <h1 class="section-1-heading">
            Vegetarisch
        </h1>
    </section>
</header>
  <main>

    <div class="grid-container center">
            <div class="grid-item center">
                <a href="./pancake.html">
                    <h2 class="rezept-margin">Pancake Mini-Muffins</h2>
                    <div class="center">
                        <img class="cooking-clock" src="../../../static/img/icons8-timer-24.png" alt="timer">
                        : 30min
                    </div>
                    <img class="img2 rezept-margin" src="../../../static/img/V2.jpg" alt="">
                    <p class="rezept-margin center">Sie sehen nicht nur gut aus,</p>
                    <p class="rezept-margin center"> sondern sie passen auch noch sehr gut zum Kaffee.</p>
                </a>
            </div>
    </div>
    <div class="grid-container center">
        <div class="grid-item center">
            <a href="./minestrone.html">
                <h2 class="rezept-margin">Minestrone mit Tortelini</h2>
                <div class="center">
                    <img class="cooking-clock" src="../../../static/img/icons8-timer-24.png" alt="timer">
                    : 30min
                </div>
                <img class="img2 rezept-margin" src="../../../static/img/V1.jpg" alt="">
                <p class="rezept-margin center">Die Suppe aller Suppen: Minestrone!</p>
            </a>
        </div>
</div>
<div class="grid-container center">
    <div class="grid-item center">
        <a href="./fenchel.html">
            <h2 class="rezept-margin center">Fenchel Gemüse</h2>
            <div class="center">
                <img class="cooking-clock" src="../../../static/img/icons8-timer-24.png" alt="timer">
                : 45min
            </div>
            <img class="img2 rezept-margin" src="../../../static/img/V3.png" alt="">
            <p class="rezept-margin center">wohlschmeckend & simpel</p>
        </a>
    </div>
</div>

  </main>
  <footer>
    <div class="footer-grid-container">
        <div class="grid-item">
            <h2>Kontaktiert uns</h2>
            <a href="tel:09083940349">09083940349</a>
            <a href="mailto:max.muster@example.com">max.muster@example.com</a>
        </div> 
        <div class="grid-item">
            <h2>Information</h2>
            <h3>Über uns</h3>
            <h3>Events</h3>
        </div> 
        <div class="grid-item">
            <h2>Helpful Links</h2>
            <h3>Support</h3>
            <h3>Privacy Policy</h3>
        </div> 
    </div>
    <div class="socialmedia-section">
        <div class="socialmedia center">
            <a href="">               
                <img class="socialmediaImg" src="../../../static/img/instagram.png" alt="instagram Logo">
            </a>
            <a href="">
                <img class="socialmediaImg" src="../../../static/img/discord.png" alt="discord Logo">
            </a>
        </div>
        <p class="center">Icons from:<a href="https://iconscout.com/contributors/jagathish">https://iconscout.com/contributors/jagathish</a></p>
        <a target="_blank" href="https://icons8.com/icons/set/timer">Timer icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</footer>
</body>
</html>