<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=,initial-scale=1.0">
  <link rel="stylesheet" href="../../styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>Kochbuch</title>
</head>
<body>
    <section class="scetion-3 ">
        <a href="./index.html"><button class="button" style="vertical-align:middle"><span>Back</span></button></a> 
        <div class="recipeHeader">
            <img class="recipeHeaderImg" src="../../../static/img/V1.jpg" alt="Bacon-Filet-Happen Bild">
        </div>
    </section>
    <h1 class="section-1-heading center">
        Minestrone mit Tortelini
     </h1> 

  <main class="longer">  

    <div class="grid-container center">
        <div class="grid-item center">
            <div class="border">
                <div class="ingridigents">
                    <h2 class="grid-item-title">Zutaten</h2>
                    <p class="timer-in-recipe">
                        <img src="../../../static/img/icons8-timer-24.png" alt=""> : 30min
                    </p>
                    <br>
                    <p>1 EL Olivenöl</p>
                    <p>1 kleine Zwiebel</p>
                    <p>150 g italienisches TK-Pfannengemüse (z. B. Möhren, grüne Bohnen, Zucchini, Brokkoli, Paprika)</p>
                    <p>1 TL Tomatenmark</p>
                    <p>½ TL getrockneter Oregano</p>
                    <p>300 ml Gemüsebrühe</p>
                    <p>6 Kirschtomaten</p>
                    <p>1 Stiel Basilikum</p>
                    <p>20 g italienischer Hartkäse (z. B. Grana padano)</p>
                    <p>125 g Spinat-Ricotta-Tortelloni (aus dem Kühlregal)</p>
                    <p> Salz</p>
                    <p>Pfeffer</p>
                </div>
            </div>
        </div>
        <div class="grid-item center">
            <div class="ingridigents">
                <h2 class="grid-item-title">Zubereitung</h2>
                <div>1.</div>
                <p>Das Öl in einem Topf erhitzen</p>
                <p>Die Zwiebel schälen, klein würfeln und im heißen Öl glasig dünsten. </p>
                <p>Das Tiefkühl-Gemüse in den Topf geben, Tomatenmark und Oregano unterrühren, kurz anbraten.</p>
                <p>Die Brühe dazugießen, aufkochen und zugedeckt bei mittlerer Hitze 5 - 7 Min. garen.</p>
                <p>Inzwischen die Kirschtomaten waschen und halbieren.</p>
                <p>Das Basilikum abbrausen, trocken schütteln, die Blätter abzupfen und fein schneiden. Den Käse raspeln.</p>
                <p>Tortelloni und Tomaten in die heiße Suppe geben, leicht aufkochen und alles in 2 - 3 Min. bei mittlerer Hitze fertig garen.</p>
                <p>Die Suppe mit Salz und Pfeffer würzen. Auf einem tiefen Teller anrichten und mit Basilikum und Käse bestreut servieren.</p>
                <p>Dazu passt Weißbrot oder Roggenvollkornbrot.</p>
            </div>
        </div>
    </div>
  </main>

  <footer>
    <div class="footer-grid-container">
        <div class="grid-item">
            <h2>Kontaktiert uns</h2>
            <a href="tel:09083940349">09083940349</a>
            <a href="mailto:max.muster@example.com">max.muster@example.com</a>
        </div> 
        <div class="grid-item">
            <h2>Information</h2>
            <h3>Über uns</h3>
            <h3>Events</h3>
        </div> 
        <div class="grid-item">
            <h2>Helpful Links</h2>
            <h3>Support</h3>
            <h3>Privacy Policy</h3>
        </div> 
    </div>
    <div class="socialmedia-section">
        <div class="socialmedia center">
            <a href="">               
                <img class="socialmediaImg" src="../../../static/img/instagram.png" alt="instagram Logo">
            </a>
            <a href="">
                <img class="socialmediaImg" src="../../../static/img/discord.png" alt="discord Logo">
            </a>
        </div>
        <p class="center">Icons from:<a href="https://iconscout.com/contributors/jagathish">https://iconscout.com/contributors/jagathish</a></p>
    </div>
</footer>
</body>
</html>