<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=,initial-scale=1.0">
  <link rel="stylesheet" href="../../styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>Kochbuch</title>
</head>
<body>
    <section class="scetion-3 ">
        <a href="./index.html"><button class="button" style="vertical-align:middle"><span>Back</span></button></a> 
        <div class="recipeHeader">
            <img class="recipeHeaderImg" src="../../../static/img/V2.jpg" alt="Bacon-Filet-Happen Bild">
        </div>
    </section>
    <h1 class="section-1-heading center">
        Mini-Muffins
     </h1> 

  <main class="longer">  

    <div class="grid-container center">
        <div class="grid-item center">
            <div class="border">
                <div class="ingridigents">
                    <h2 class="grid-item-title">Zutaten</h2>
                    <p class="timer-in-recipe">
                        <img src="../../../static/img/icons8-timer-24.png" alt=""> : 30min
                    </p>
                    <br>
                    <p>30g Butter</p>
                    <p>175g Mehl</p>
                    <p>3 EL Zucker</p>
                    <p>1/2 TL Backpulver</p>
                    <p>1/2 TL Natron</p>
                    <p>1 Prise Salz</p>
                    <p>1-2 TL gemahlener Mohn</p>
                    <p>150 ml Buttermilch</p>
                    <p>2 Eier Gr. M, verquirlt</p>
                    <p>frische oder tiefgekühlte Himbeeren</p>
                </div>
            </div>
        </div>
        <div class="grid-item center">
            <div class="ingridigents">
                <h2 class="grid-item-title">Zubereitung</h2>
                <div>1.</div>
                <p>Den Backofen auf 190°C Ober- und Unterhitze vorheizen. Die Mulden eines Muffinblechs gründlich fetten und beiseite stellen.</p>
                <div>2.</div>
                <p>Die Butter sachte auf dem Herd schmelzen lassen und dann zum Abkühlen beiseite stellen. Nicht, dass aus den Eiern später Rührei wird, gell.</p>
                <p>Mehl, Zucker, Backpulver, Natron, Salz und gemahlenen Mohn gut vermengen.</p>
                <p>Mithilfe eines Schneebesens (bitte nicht mit dem Handmixer arbeiten) die verquirlten Eier mit der Buttermilch vermengen.</p>
                <p>Geschmolzene Butter dazu geben und alles kurz einmal durchrühren.</p>
                <p>Die flüssige Mixtur dann zur Mehlmischung geben und mit dem Schneebesen kurz durchrühren, bis weit und breit kein Mehl mehr zu sehen ist.</p>
                <p>Mehr Rührerei benötigt das Rezept nicht. Zack, fertig.</p>
                <p>Die Himbeeren nun entweder unterheben oder erst dann auf die Muffins setzen, wenn sie schon in den Formen sind.</p>
                <p>Den Teig nun in die vorbereitete Muffinform geben, dabei jeweils ca. 3/4 hoch füllen. </p>
                <p> Jetzt – wer die Himbeeren vorher noch nicht in den Teig gab mit den Früchten garnieren und ab dafür in den Ofen. Die Pancake Muffins backen ca. 18-20 Minuten lang.</p>
            </div>
        </div>
    </div>

  </main>

  <footer>
    <div class="footer-grid-container">
        <div class="grid-item">
            <h2>Kontaktiert uns</h2>
            <a href="tel:09083940349">09083940349</a>
            <a href="mailto:max.muster@example.com">max.muster@example.com</a>
        </div> 
        <div class="grid-item">
            <h2>Information</h2>
            <h3>Über uns</h3>
            <h3>Events</h3>
        </div> 
        <div class="grid-item">
            <h2>Helpful Links</h2>
            <h3>Support</h3>
            <h3>Privacy Policy</h3>
        </div> 
    </div>
    <div class="socialmedia-section">
        <div class="socialmedia center">
            <a href="">               
                <img class="socialmediaImg" src="../../../static/img/instagram.png" alt="instagram Logo">
            </a>
            <a href="">
                <img class="socialmediaImg" src="../../../static/img/discord.png" alt="discord Logo">
            </a>
        </div>
        <p class="center">Icons from:<a href="https://iconscout.com/contributors/jagathish">https://iconscout.com/contributors/jagathish</a></p>
    </div>
</footer>
</body>
</html>