<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=,initial-scale=1.0">
  <link rel="stylesheet" href="../../styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>Kochbuch</title>
</head>
<body>
    <section class="scetion-3 ">
        <a href="./index.html"><button class="button" style="vertical-align:middle"><span>Back</span></button></a> 
        <div class="recipeHeader">
            <img class="recipeHeaderImg" src="../../../static/img/S1.png" alt="Bacon-Filet-Happen Bild">
        </div>
    </section>

  <main class="">  
    <h1 class="section-1-heading center">
      Banana Pancakes
    </h1>

    <div class="grid-container center">
        <div class="grid-item center">
            <div class="border">
                <div class="ingridigents">
                    <h2 class="grid-item-title">Zutaten</h2>
                    <p class="timer-in-recipe">
                        <img src="../../../static/img/icons8-timer-24.png" alt=""> : 30min
                    </p>
                    <br>
                    <p>650 - 700 g Hähnchenbrustfilet</p>
                    <p>1 kleine Zwiebel</p>
                    <p>1 rote Paprika</p>
                    <p>100g Senf ( mild )</p>
                    <p>2 EL Olivenöl</p>
                    <p>2 EL Ahornsirup oder Honig</p>
                    <p>50 g Sahne ( sauer )</p>
                    <p>½ Bund Dill</p>
                    <p>3 EL Mehl</p>
                    <p>Etwas Meersalz</p>
                    <p>Etwas Chilipulver</p>
                    <p>2 EL Samen von Sesam</p>
                </div>
            </div>
        </div>
        <div class="grid-item center">
            <div class="ingridigents">
                <h2 class="grid-item-title">Zubereitung</h2>
                <div>1.</div>
                <p>Die Hähnchenbrustfilets unter laufendem Wasser waschen, etwas abtupfen und mit dem scharfen Fleischmesser in gleichmäßige Streifen ( recht dünn ) schneiden</p>
                <p>Die Hähnchenstreifen in die verschließbare Schüssel geben.</p>
                <p>Die Paprika und die Zwiebel fein hacken und ebenfalls in die Schüssel geben.</p>
                <p>Anschließend etwas mit Chili und Meersalz nach Belieben würzen und einen Esslöffel Olivenöl untermischen.</p>
                <p>Das Fleisch mit der Marinade ( in der Schüssel ) in den Kühlschrank stellen und eine Stunde ziehen lassen.</p>
                <br>
                <div>2.</div>
                <p>Die saure Sahne, den Honig und den Senf miteinander verrühren.</p>
                <p>Mit etwas Pfeffer und Salz abschmecken.</p>
                <p>Zum Schluss den Dill so fein wie möglich hacken und unter die Honig - Senf - Soße mischen.</p>
                <p>Das Fleisch nach einer Stunde aus der Schüssel nehmen und etwas abtropfen lassen, in Mehl und Sesam wälzen.</p>
                <p>Die Bratpfanne mit dem Öl auspinseln und das Hähnchen kross anbraten.</p>
                <p>Den Honig - Senf - Dip in einem kleinen Schüsselchen anrichten und die Hähnchensticks auf einem Teller zum Dippen drapieren.</p>
            </div>
        </div>
    </div>

  </main>

  <footer>
    <div class="footer-grid-container">
        <div class="grid-item">
            <h2>Kontaktiert uns</h2>
            <a href="tel:09083940349">09083940349</a>
            <a href="mailto:max.muster@example.com">max.muster@example.com</a>
        </div> 
        <div class="grid-item">
            <h2>Information</h2>
            <h3>Über uns</h3>
            <h3>Events</h3>
        </div> 
        <div class="grid-item">
            <h2>Helpful Links</h2>
            <h3>Support</h3>
            <h3>Privacy Policy</h3>
        </div> 
    </div>
    <div class="socialmedia-section">
        <div class="socialmedia center">
            <a href="">               
                <img class="socialmediaImg" src="../../../static/img/instagram.png" alt="instagram Logo">
            </a>
            <a href="">
                <img class="socialmediaImg" src="../../../static/img/discord.png" alt="discord Logo">
            </a>
        </div>
        <p class="center">Icons from:<a href="https://iconscout.com/contributors/jagathish">https://iconscout.com/contributors/jagathish</a></p>
    </div>
</footer>
</body>
</html>