<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=,initial-scale=1.0">
  <link rel="stylesheet" href="../../styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>Kochbuch</title>
</head>
<body>
    <section class="scetion-3 ">
        <a href="./index.html"><button class="button" style="vertical-align:middle"><span>Back</span></button></a> 
        <div class="recipeHeader">
            <img class="recipeHeaderImg" src="../../../static/img/F1.PNG" alt="Bacon-Filet-Happen Bild">
        </div>
    </section>

  <main class="">  
    <h1 class="section-1-heading center">
        Bacon-Filet-Happen
    </h1>

    <div class="grid-container center">
        <div class="grid-item center">
            <div class="border">
                <div class="ingridigents">
                    <h2 class="grid-item-title">Zutaten</h2>
                    <p class="timer-in-recipe">
                        <img src="../../../../static/img/icons8-timer-24.png" alt=""> : 30min
                    </p>
                    <br>
                    <p>6 EL Semmelbrösel</p>
                    <p>1 EL grob gemahlener Pfeffer </p>
                    <p>4  Hähnchenfilets (à ca. 150 g) </p>
                    <p>2-3 EL Senf </p>
                    <p>20 Scheibe/n Frühstücksspeck (Bacon) </p>
                    <p>Öl</p>
                    <p>1 Bund Petersilie</p>        
                </div>
            </div>
        </div>
        <div class="grid-item center">
            <div class="ingridigents">
                <h2 class="grid-item-title">Zubereitung</h2>
                <div>1.</div>
                <p>Semmelbrösel und Pfeffer mischen</p>
                <p>Fleisch waschen, trocken tupfen und jedes Filet mit Senf bestreichen</p>
                <p>Filets in jeweils 5 Stücke schneiden.</p>
                <p>Stücke mit je 1 Speckscheibe umwickeln.</p>
                <p>Die Röllchen in Semmelbröseln wenden und auf ein geöltes Backblech legen.</p>
                <br>
                <div>2.</div>
                <p>Im vorgeheizten Backofen (E-Herd: 200 °C/Umluft: 175 °C/Gas: s. Hersteller) ca. 20 Minuten backen.</p>
                <p>Petersilie waschen, trocken schütteln und fein hacken.</p>
                <p> Röllchen herausnehmen und mit Petersilie bestreuen. Warm servieren.</p>
            </div>
        </div>
    </div>

  </main>

  <footer>
    <div class="footer-grid-container">
        <div class="grid-item">
            <h2>Kontaktiert uns</h2>
            <a href="tel:09083940349">09083940349</a>
            <a href="mailto:max.muster@example.com">max.muster@example.com</a>
        </div> 
        <div class="grid-item">
            <h2>Information</h2>
            <h3>Über uns</h3>
            <h3>Events</h3>
        </div> 
        <div class="grid-item">
            <h2>Helpful Links</h2>
            <h3>Support</h3>
            <h3>Privacy Policy</h3>
        </div> 
    </div>
    <div class="socialmedia-section">
        <div class="socialmedia center">
            <a href="">               
                <img class="socialmediaImg" src="../../../static/img/instagram.png" alt="instagram Logo">
            </a>
            <a href="">
                <img class="socialmediaImg" src="../../../static/img/discord.png" alt="discord Logo">
            </a>
        </div>
        <p class="center">Icons from:<a href="https://iconscout.com/contributors/jagathish">https://iconscout.com/contributors/jagathish</a></p>
    </div>
</footer>
</body>
</html>