<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=,initial-scale=1.0">
  <link rel="stylesheet" href="../../styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>Kochbuch</title>
  <sytle>
    
  </style>
</head>
<body>
    <div class="navbar center" id="navbar">
      <a class="navbar-link" href="../../index.html">Home</a>
      <a class="navbar-link" href="./index.html">Fleisch</a>
      <a class="navbar-link" href="../vegetarisch/index.html">Vegetarisch</a>
      <a class="navbar-link" href="../sport/index.html">Sport</a>
  </div>

  <header>
    <section class="scetion-1 center">
        <h1 class="section-1-heading">
            Fleisch
        </h1>
    </section>
</header>
  <main>

    <div class="grid-container center">
            <div class="grid-item center">
                <a class="f1" href="./rezepte/bacon.html">
                    <h2 class="rezept-margin">Bacon-Filet-Happen</h2>
                    <div class="center">
                        <img class="cooking-clock" src="../../../static/img/icons8-timer-24.png" alt="timer">
                        : 30min
                    </div>
                    <img class="img2 rezept-margin" src="../../../static/img/F1.PNG" alt="">
                    <p class="rezept-margin">Kreieren Sie ihre eigenen Bacon-Filet-Happen im handumdrehen</p>
                </a>
            </div>
    </div>
    <div class="grid-container center">
        <div class="grid-item center">
            <a class="f1" href="./bacon.html">
                <h2 class="rezept-margin">Schnelle Fleischpfanne</h2>
                <div class="center">
                    <img class="cooking-clock" src="../../../static/img/icons8-timer-24.png" alt="timer">
                    : 30min
                </div>
                <img class="img2 rezept-margin" src="../../../static/img/F2.PNG" alt="">
                <p class="rezept-margin">Mit unseren Fleischpfanne können Sie schnell ein leckeres Mittagessen Zaubern</p>
            </a>
        </div>
</div>
<div class="grid-container center">
    <div class="grid-item center">
        <a class="f1" href="./bacon.html">
            <h2 class="rezept-margin">Wraps mit Hähnchen</h2>
            <div class="center">
                <img class="cooking-clock" src="../../../static/img/icons8-timer-24.png" alt="timer">
                : 45min
            </div>
            <img class="img2 rezept-margin" src="../../../static/img/F3.PNG" alt="">
            <p class="rezept-margin">Das sind die besten Wraps die Sie jemals essen werden!!</p>
        </a>
    </div>
</div>

  </main>
  <footer>
    <div class="footer-grid-container">
        <div class="grid-item">
            <h2>Kontaktiert uns</h2>
            <a href="tel:09083940349">09083940349</a>
            <a href="mailto:max.muster@example.com">max.muster@example.com</a>
        </div> 
        <div class="grid-item">
            <h2>Information</h2>
            <h3>Über uns</h3>
            <h3>Events</h3>
        </div> 
        <div class="grid-item">
            <h2>Helpful Links</h2>
            <h3>Support</h3>
            <h3>Privacy Policy</h3>
        </div> 
    </div>
    <div class="socialmedia-section">
        <div class="socialmedia center">
            <a href="">               
                <img class="socialmediaImg" src="../../../static/img/instagram.png" alt="instagram Logo">
            </a>
            <a href="">
                <img class="socialmediaImg" src="../../../static/img/discord.png" alt="discord Logo">
            </a>
        </div>
        <p class="center">Icons from:<a href="https://iconscout.com/contributors/jagathish">https://iconscout.com/contributors/jagathish</a></p>
        <a target="_blank" href="https://icons8.com/icons/set/timer">Timer icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</footer>
</body>
</html>