<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=,initial-scale=1.0">
  <link rel="stylesheet" href="../../styles.css">
  <title>Kochbuch</title>
</head>
<body>
    <section class="scetion-3 ">
        <a href="./index.html"><button class="button" style="vertical-align:middle"><span>Back</span></button></a> 
        <div class="recipeHeader">
            <img class="recipeHeaderImg" src="../../../static/img/F3.PNG" alt="Bacon-Filet-Happen Bild">
        </div>
    </section>

  <main class="">  
    <h1 class="section-1-heading center">
        Wraps mit Hähnchen
    </h1>

    <div class="grid-container center">
        <div class="grid-item center">
            <div class="border">
                <div class="ingridigents">
                    <h2 class="grid-item-title">Zutaten</h2>
                    <p class="timer-in-recipe">
                        <img src="../../../static/img/icons8-timer-24.png" alt=""> : 30min
                    </p>
                    <br>
                    <p>0.25 Paprika</p>
                    <p>1 Stück Rotkraut</p>
                    <p>3 EL Naturjoghurt (1,5% Fett)</p>
                    <p>1 TL süßer Senf</p>
                    <p>Salz, Pfeffer, Koriander</p>
                    <p>1 gr.Tortilla Wrap, Mehrkorn</p>
                    <p>100g Hähnchenbrustfiletstücke, servierfertig</p>
                    <p>50g weiße Bohnen, aus der Dose</p>  
                    <p>1 Handvoll Salat (z.B. Eisbergsalat)</p>    
                </div>
            </div>
        </div>
        <div class="grid-item center">
            <div class="ingridigents">
                <h2 class="grid-item-title">Zubereitung</h2>
                <div>1.</div>
                <p>Paprika, Rotkraut und Hähnchen in Streifen schneiden.</p>
                <p>Joghurt und Senf vermengen. Mit Salz, Pfeffer und Koriander würzen.</p>
                <p>Wrap kurz in der Pfanne erwärmen.</p>
                <p>Mit dem Dressing bestreichen und die restlichen Zutaten darauf verteilen.</p>
                <p>Aufrollen und nach Belieben mit Backpapier umwickeln</p>
                <br>
            </div>
        </div>
    </div>

  </main>

  <footer>
    <div class="footer-grid-container">
        <div class="grid-item">
            <h2>Kontaktiert uns</h2>
            <a href="tel:09083940349">09083940349</a>
            <a href="mailto:max.muster@example.com">max.muster@example.com</a>
        </div> 
        <div class="grid-item">
            <h2>Information</h2>
            <h3>Über uns</h3>
            <h3>Events</h3>
        </div> 
        <div class="grid-item">
            <h2>Helpful Links</h2>
            <h3>Support</h3>
            <h3>Privacy Policy</h3>
        </div> 
    </div>
    <div class="socialmedia-section">
        <div class="socialmedia center">
            <a href="">               
                <img class="socialmediaImg" src="../static/img/instagram.png" alt="instagram Logo">
            </a>
            <a href="">
                <img class="socialmediaImg" src="../static/img/discord.png" alt="discord Logo">
            </a>
        </div>
        <p class="center">Icons from:<a href="https://iconscout.com/contributors/jagathish">https://iconscout.com/contributors/jagathish</a></p>
    </div>
</footer>
</body>
</html>