<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=,initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <script src="./index.js"></script>
  <title>Kochbuch</title>
  <sytle>
    
  </style>
</head>
<body>
    <div class="navbar center" id="navbar">
      <a class="navbar-link" href="./index.html">Home</a>
      <a class="navbar-link" href="./screens/fleisch/index.html">Fleisch</a>
      <a class="navbar-link" href="./screens/vegetarisch/index.html">Vegetarisch</a>
      <a class="navbar-link" href="./screens/sport/index.html">Sport</a>
  </div>

  <header>
    <section class="scetion-1 center">
        <h1 class="section-1-heading">
            Healthy Kitchen
        </h1>
    </section>
</header>
  <main>
    <div class="bi1 center">
      <h2 class="hh">Perfekte Ernährung mit Healthy Kitchen</h2>
      <hr>
      <p class="p1">Mit unseren einfachen und schnellen Rezepten kochst du ausgewogen, saisonal und hast ruckzuck ein schnelles Frühstück, Abend- bzw. Mittagessen auf dem Tisch. Das nennen wir auch familientauglich. Du wirst staunen, wie viele gluschtige Rezepte süss oder pikant, vegetarisch oder mit Fleisch, Fisch oder Poulet wir dir unter genau diesen Bedingungen zur Verfügung stellen. </p>
  </div>
  <div class="center">
    <img  class="img1" src="../static/img/Bild1.jpg" alt="essen">
  </div>

  <div class="scetion-4">
        <div class="grid-container center">
            <div class="grid-item">
                <h2 class="grid-item-title">Was versteht man unter einer gesunden Ernährung?</h2>
                <p>Auf eine kurze Formel heruntergebrochen, bedeutet gesunde Ernährung: Mehr pflanzliche (Obst, Gemüse, Getreide) als tierische Lebensmittel (Fleisch, Fisch, Milchprodukte, Ei) und nur geringe Mengen an Fett, Salz und Zucker. Viel Flüssigkeit ist unbedingt notwendig: Am besten Wasser, Tees, Saftschorlen und Ähnliches.</p>
            </div>
            <div class="grid-item center">
                <img class="img2" src="../static/img/Bild2.jpg" alt="">
            </div>
        </div>
        <div class="center">
        </div>
    </div>
</div>
  </main>

  <footer>
    <div class="footer-grid-container">
        <div class="grid-item">
            <h2>Kontaktiert uns</h2>
            <a href="tel:09083940349">09083940349</a>
            <a href="mailto:max.muster@example.com">max.muster@example.com</a>
        </div> 
        <div class="grid-item">
            <h2>Information</h2>
            <h3>Über uns</h3>
            <h3>Events</h3>
        </div> 
        <div class="grid-item">
            <h2>Helpful Links</h2>
            <h3>Support</h3>
            <h3>Privacy Policy</h3>
        </div> 
    </div>
    <div class="socialmedia-section">
        <div class="socialmedia center">
            <a href="">               
                <img class="socialmediaImg" src="../static/img/instagram.png" alt="instagram Logo">
            </a>
            <a href="">
                <img class="socialmediaImg" src="../static/img/discord.png" alt="discord Logo">
            </a>
        </div>
        <p class="center">Icons from:<a href="https://iconscout.com/contributors/jagathish">https://iconscout.com/contributors/jagathish</a></p>
    </div>
</footer>
</body>
</html>
